.page-footer .dark {
  background-color: #2b2f31;
}

.page-footer.dark .footer-copyright {
  text-align: center;
  background-color: #222425;
}

.page-footer.dark .footer-copyright p {
  color: #ccc;
}

