<nav class="navbar navbar-light navbar-expand-lg bg-secondary clean-navbar">
  <div class="container">
    <div class="navbar-brand logo">Logo</div>
  </div>
  <div id="nav-column" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a routerLink="/fc/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/fc/services" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a routerLink="/fc/rules" class="nav-link">Rules</a>
      </li>
      <li class="nav-item">
        <a routerLink="/fc/ranks" class="nav-link">Ranks</a>
      </li>
    </ul>
  </div>
</nav>
