<app-navbar></app-navbar>
<main class="page">
  <div class="block-heading">
    <h2 class="text-info">Rules</h2>
    <p>
      We want to make the experience in our free company fun and inclusive. Everyone should feel welcome. <br>
      Keep in mind that you also represent our free company as a member. <br>
      Therefore we came up with a set of rules that must be adhered to so that this experience is preserved.
    </p>
  </div>
  <div class="row justify-content-center">
    <ul>
      <div class="rule">
        <i class="bi-book icon"></i>
        <h4>General</h4>
        <ul>
          <li>Treat others the way that you would want to be treated.</li>
          <li>Breaking the rules can result in being removed from the free company.</li>
          <li>The same applies for breaking
            <a href="https://support.na.square-enix.com/faqarticle.php?kid=68216&id=5382&la=1">
              Square Enix's Terms of Service.
            </a>
          </li>
        </ul>
      </div>
      <div class="rule">
        <i class="bi-chat icon"></i>
        <h4>In-game chat</h4>
        <ul>
          <li>No insulting, harassing or hate speech.</li>
          <li>No sexism, racism or discrimination of any kind.</li>
          <li>No spamming.</li>
        </ul>
      </div>
      <div class="rule">
        <i class="bi-discord icon"></i>
        <h4>Discord</h4>
        <ul>
          <!--TODO: add discord link-->
          <li>Read the rules inside the text-channel #rules in our <a href="#">Discord-Server.</a></li>
          <li>Rename your nickname to your FFXIV name.</li>
        </ul>
      </div>
    </ul>
  </div>
</main>
