.rule {
  position: relative;
  padding: 15px 20px 15px 60px;
}

.rule .icon {
  font-size: 30px;
  position: absolute;
  left: 15px;
  top: 8px;
  width: 30px;
  text-align: center;
  color: #3b99e0;
}

