<app-navbar></app-navbar>
<main class="page">
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Services</h2>
        <p>
          You can find some of the services we provide down below.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box">
          <i class="bi-stars icon"></i>
          <h4>Duties</h4>
          <p>
            You are interested in the different types of duties?
            We would like to support you on your journey through all kinds of duties. No matter if casual play or not!
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="bi-wrench icon"></i>
          <h4>Crafting</h4>
          <p>
            You are new to crafting? You need materials?
            Our crafters will help you out with resources and the marketboard.
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="bi-cash-coin icon"></i>
          <h4>Gold Saucer</h4>
          <p>
            You enjoy playing various mini-games at the Manderville Gold Saucer? All of us do the same!
            We enjoy breeding Chocobos, playing Triple Triad or participating at GATEs.
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="bi-hand-thumbs-up icon"></i>
          <h4>Support</h4>
          <!--TODO: add discord link-->
          <p>
            Do you need a helping hand? We will try our best to answer your questions and help you out!
            Feel free to contact us in our <a href="#">Discord-Server</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
