<app-navbar></app-navbar>
<main class="page">
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Services</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box">
          <i class="bi-star icon"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="bi-star icon"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="bi-star icon"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="bi-star icon"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
      </div>
    </div>
  </section>
</main>
